body {
  background-color: $color-gray;
  min-width: 700px;
  overflow-x: hidden;

  @include larger {
    height: 100vh;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include larger {
    flex-wrap: nowrap;
    height: 100%;
    min-height: 1080px;
  }
}

section {
    padding: 77px 0;

    @include larger {
      padding: inherit;
    }
}