.chart-section {
  align-items: center;
  background-color: $color-gray-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @include larger {
    flex: 1 0 40%;
  }

  output {
    text-align: center;
  }
}

.output-caption {
  @include fontSize(35px);
  @include roboto;

  color: white;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &.geno {
    margin-top: 126px;
  }
}

.chart {
  height: 350px;
  margin: 37px 37px 0 ;
  position: relative;
  width: 500px;

  .background {
    left: 25px;
    position: absolute;

    .y-axis-tick {
      border-right: 6px solid $color-charcoal;
      border-top: 6px solid $color-charcoal;
      height: 68px;
      position: relative;
      width: 20px;

      .value {
        @include fontSize(39px);
        @include roboto;

        color: $color-charcoal;
        font-weight: 500;
        left: -26px;
        position: absolute;
        top: -26px;
      }
    }

    .y-axis-base {
      border-top: 6px solid $color-charcoal;
      left: 14px;
      position: absolute;
      width: 456px;
    }
  }

  .foreground {
    display: flex;
    flex-direction: column;
    height: 329px;
    left: 120px;
    position: absolute;

    .bars {
      align-items: flex-end;
      display: flex;
      flex: 1;

      div {
        align-items: flex-end;
        border-left: 6px solid white;
        border-radius: 6px 6px 0 0;
        border-right: 6px solid white;
        border-top: 6px solid white;
        flex: 1;
        margin: 0 24px;
        transition: height 0.2s ease-in-out;
        width: 120px;

        &.yellow {
          background-color: $color-yellow;

        }

        &.green {
          background-color: $color-green;
        }
      }
    }

    .color-labels {
      display: flex;
      margin-top: 10px;

      div {
        @include fontSize(40px);
        @include roboto;

        color: $color-charcoal;
        flex: 1;
        font-weight: 500;
        margin: 0 24px;
      }
    }
  }
}

.ratio {
  @include fontSize(50px);
  @include roboto;

  color: $color-charcoal;
  font-weight: 700;
  margin-top: 18px;
  text-align: center;
}