.chart-section {
  background-color: $gray-light;
  width: 38%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.output-caption {
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
}