.punnett-section {
  align-items: center;
  display: flex;
  justify-content: center;

  @include larger {
    flex: 1 0 60%;
  }
}

.form-instructions {
  @include fontSize(45px);
  @include roboto;

  color: white;
  font-weight: 500;
  margin: 0 64px;
  text-align: center;
}

.punnett-area-container {
  margin: 64px auto 0;
  width: 650px;
}

#pea-1-genotype {
  margin-right: 27px;
  text-align: right;

  .choice + .choice {
    margin-left: 8px;
  }
}

#pea-2-genotype {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 8px;

  .choice + .choice {
    margin-top: 5px;
  }
}

.choice {
  display: inline-block;
  height: 129px;
  position: relative;
  width: 116px;

  input {
    height: 113px;
    left: 8px;
    opacity: 0;
    position: absolute;
    top: 8px;
    width: 100px;
    z-index: $z-index-one;
  }
}

input + .border-container {
  background-color: transparent;
  border-radius: 16px;
  border: solid transparent;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;

  .content-container {
    background-color: $color-white-faded-more;
    border-radius: 10px;
    bottom: 2px;
    left: 2px;
    position: absolute;
    right: 2px;
    top: 2px;
  }
}

.content-container {
  text-align: center;

  img {
    margin: 12px auto -5px;
    width: 52px;
  }

  div {
    @include roboto;
    @include fontSize(25px);

    color: $color-charcoal;
  }
}

input:focus + .border-container {
  background-color: $color-red-faded;

  .content-container {
    background-color: white;
  }
}

input:checked + .border-container {
  background-color: $color-red;

  .content-container {
    background-color: white;
  }
}

.punnett-square {
  display: inline-block;
  margin: 34px 0 0 43px;

  table {
    border-spacing: 5px;
  }

  th {
    @include fontSize(50px);
    @include roboto;

    color: $color-charcoal;
    font-weight: 500; 
  }

  td {
    text-align: center;

    img {
      width: 104px;
    }

    div {
      @include fontSize(50px);
      @include roboto;

      color: $color-charcoal;
      font-weight: 500; 
    }
  }

  tr:nth-of-type(1) {
    td, th {
      padding-bottom: 15px;
    }
  }

  tr:not(:nth-of-type(1)) {
    th {
      padding-right: 22px;
      width: 54px;
    }
  }
}

.cell {
  background-color: white;
  height: 204px;
  width: 204px;

  &.first {
    border-radius: 10px 0 0;
  }

  &.second {
    border-radius: 0 10px 0 0;
  }

  &.third {
    border-radius: 0 0 0 10px;
  }

  &.fourth {
    border-radius: 0 0 10px;
  }
}