// Colors
$color-charcoal: #585858;
$color-gray: #C6C6C6;
$color-gray-light: #D3D3D3;
$color-red: #E07567;
$color-red-faded: rgb(224, 117, 103, 0.5);
$color-white-faded: rgb(255, 255, 255, 0.75);
$color-white-faded-more: rgb(255, 255, 255, 0.5);
$color-yellow: #EECD3A;
$color-green: #67B054;

// z-index
$z-index-one: 100;

// Breakpoints
@mixin larger {
  @media (min-width: 1280px) { @content; }
}

// Need font mixins
// @mixin roboto {
//   font-family: 'Roboto', sans-serif;
//   color: white;
//   font-size: 35px;
// }

// @mixin roboto-light {
//   @include mixin roboto;

//   font-weight: 100;
// }


// @mixin roboto-medium {
//   @include mixin roboto;

//   font-weight: 400;
// }


// @mixin roboto-bold {
//   @include mixin roboto;

//   font-weight: 700;
// }